@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">INOSOFT Spielwiese .NET Core Web App with SQL Server</h1>
    <h2 class="display-7">...both are hosted in Azure, App Service, SQL DB Server, ...</h2>
    <br/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
